$primary-color:#0d2436;//rgb(13,36,59)

#gallery{
  text-align: center;
  min-height:100%;

  &>.title{
    display: inline-block;
    margin-bottom: 40px;

    h1{
      color:$primary-color;
      font-weight: lighter;
      font-size: 4em;
      border: 1px solid $primary-color;
      padding: 10px 30px;
    }
  }

  .filter-container{
    display: block;
    text-align: center;
    .filter-buttons{
      display: inline-flex;

      .filter{
        color:$primary-color;
        font-size: 1em;
        cursor: pointer;
        display:inline-block;
        padding: 20px 35px;
        margin: 0;
        border: 1px solid $primary-color;
        border-right: 0;
        transition: 0.3s;
        &:last-child{
          border-right: 1px solid $primary-color;
        }
        &.active{
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }

  .items-container{
    display: flex;
    justify-content: center;
    text-align: left;
    .items{
      margin-top: 40px;
      width: 880px;
      justify-content: flex-start;
      .mix{
        margin:25px 25px 25px 25px;
        display: none;
        width: 240px;
        height: 240px;
        overflow: hidden;

        .main{
          width:240px;
          height: 160px;
          overflow: hidden;
          position: relative;
          img{
            width: 100%;
          }
          .desc{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 20px 12px 20px;
            text-align: center;
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            background-color: rgba(13, 36, 59, 0.85);
            opacity: 0;
            transition: 0.7s cubic-bezier(0, 0, 0, 0.83);
            &.desc-only{
              opacity: 1;
            }
            &:hover{
              opacity: 1;
            }
            .text{
              color: white;
              line-height: 1.4;
              max-height: 90px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .view a{
              display: inline-block;
              color: white;
              border:1px solid white;
              text-decoration: none;
              padding: 5px 8px;
            }
          }
        }

        .details{
          margin-top: 10px;
          line-height: 1.4;

          .title{
            font-size: 1.5em;
            overflow: hidden;
          }
          .skills{
            color: rgba(13, 36, 59, 0.8);
            font-size: 0.9em;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .items{
    width: 590px !important;
  }
  .filter-container{
    font-size: 0.75em !important;
  }
  #gallery > .title{
    font-size: 0.75em !important;
  }
}

@media screen and (min-width: 750px) {
  .filter-container{
    font-size: 1em !important;
  }
  #gallery > .title{
    font-size: 1em !important;
  }

}

@media screen and (min-width: 940px) {
  .items{
    width: 880px !important;
  }
}

